# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook
.ipynb_checkpoints/

# Visual Studio Code
.vscode/

# Binarios compilados
*.exe
*.dll
*.so
*.o
*.obj
*.bin

# Archivos temporales
*.tmp
*.temp
*.log

# Entornos virtuales
venv/
.venv/
env/

# Variables de entorno
.env
